main {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
}

/* Cabeçalho principal */
h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

/* Botão de listar */
button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Seções de estantes */
/* Seção das estantes */
section {
  margin-bottom: 20px;
  cursor: pointer;
}

/* Título da estante, com um efeito visual de expansão/contração */
/* Estilo para o título da estante e o ícone */
section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px; /* Espaço entre o ícone e o texto */
}

section h2 i {
  transition: transform 0.3s ease;
}

/* Ícone de seta quando estante expandida */
section h2 i.fas.fa-chevron-up {
  transform: rotate(180deg);
}

/* Estilos das estantes */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}

.cards.collapsed {
  max-height: 0;
  opacity: 0;
}

.cards.expanded {
  max-height: 1000px;
  opacity: 1;
}

/* Card */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
